@model UserVM
@{
    ViewData["Title"] = "View";
    Layout = null;
}
@using (Html.BeginForm("Create", "userCategory", FormMethod.Post, new { id = "frmCreateCourse" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="panel-body p-4 bg-light">
        <h3 class="h3_title-sigin text-center">Danh sach người dùng</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12 pb-3">
                        <div class="pb-3">Tên danh mục (<span style="color:red">*</span>)</div>
                        <textarea cols="20" class="form-control" rows="2" asp-for="FullName" placeholder="Tên người dùng"></textarea>
                        @Html.ValidationMessageFor(m => m.FullName)
                    </div>
                    <div class="col-md-12 pb-3">
                        <div class="pb-3">Tên danh mục (<span style="color:red">*</span>)</div>
                        <textarea cols="20" class="form-control" rows="2" asp-for="Birthday" placeholder="Ngày sinh"></textarea>
                        @Html.ValidationMessageFor(m => m.Birthday)
                    </div>
                    <div class="col-md-12 pb-3">
                        <div class="pb-3">Tên danh mục (<span style="color:red">*</span>)</div>
                        <textarea cols="20" class="form-control" rows="2" asp-for="Sex" placeholder="Giơi tinh"></textarea>
                        @Html.ValidationMessageFor(m => m.Sex)
                    </div>
                    <div class="col-md-12 pb-3">
                        <div class="pb-3">Tên danh mục (<span style="color:red">*</span>)</div>
                        <textarea cols="20" class="form-control" rows="2" asp-for="Introduction" placeholder="Giơi thiệu"></textarea>
                        @Html.ValidationMessageFor(m => m.Introduction)
                    </div>
                    <div class="col-md-6 pb-3">
                        <div class="pb-3">Danh mục hiển thị (<span style="color:red">*</span>)</div>
                        <select asp-for="ParentId" class="form-control" asp-items="@(new SelectList(Model.listCourseCategory,"Id", "Name"))">
                            <option>Chọn danh mục</option>
                            <option value="0">Danh mục cha</option>
                        </select>
                        @Html.ValidationMessageFor(m => m.ParentId)
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix text-center">
            <button type="submit" id="btnSubmit" class="btn btn-success"><span class='fa fa-save'></span>Lưu</button>
            <button type="button" class="button btn-danger btn-popup-cancel btnCloseBanner" data-dismiss="modal"><span class='fa fa-close'></span>Huỷ</button>
        </div>
    </div>
}