@model MyCourseVM
@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">
    <div class="row mb-3">
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Tìm kiếm</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.listCourse)
        {
            <a href="/Home/View/@item.Id">
                <div class="col-3">
                    <div class="card mycard">
                        <img class="card-img-top" src="@item.Image" alt="@item.Name">
                        <div class="card-body mycard-body">
                            <h5 class="card-title">@item.Name</h5>
                            <a href="" class="name-author"><small>@item.FullName</small> </a>
                                <div class="price">
                                    <span class="fake"><small> <del> @item.PromotionPrice   </del></small></span>
                                    <span class="real"> @item.Price </span>
                                </div>
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
</div>