@model DetailHomeVM
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<section>
    <div class="container detail-hero clearfix  mb-5">
        <input type="hidden" asp-for="IdCourse" />
        <div class="row pl-5 pr-lg-5 pr-5">
            <div class="col-12 col-md-8 w-100  h-auto pr-0">
                <div class="row info-courses mb-3 p-2 bg-dark text-white">
                    <div class="col-12">
                        <div class="detail_title">
                            <h3 class="">
                                @Model.Name
                            </h3>
                            <p class="text-white" id="Content">
                                @Model.Description
                            </p>
                        </div>
                        <div class="detail-intructor text-white row p-3 pt-0 p-md-0">
                            <div class="detail-intructor col-12 col-md-6 p-0">
                                <span class="pl-3"> <i class="fa fa-user" aria-hidden="true"></i>  <a href="/User/Teacher/@Model.UserId">@Model.FullName</a> </span>

                            </div>
                        
                            <div class="student col-md-3 col-12">
                                <span>
                                    @Model.NumberStudent Học sinh
                                </span>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="row info-courses  mb-3 p-2">
                    <h3 class="col-12 p-2">Bạn sẽ học gì trong khoá học?</h3>
                    @Html.Raw(Model.Content)                 
                </div>
                <div class="row Course content mr-2">

                    <div class="col-12 ">
                        <div class="navbar p-0 clearfix navbar-default navbar-fixed-top w-100" role="navigation">
                            <div class="container p-0">
                                <div class="navbar-header">
                                    <h3 class="col-12">Nội dung khoá học</h3>
                                </div>
                                <div class="collapse navbar-collapse d-block">
                                    <ul class="nav navbar-nav w-100" id="menu-course">
                                        @foreach (var item in Model.lstChapter)
                                        {
                                            <li class="w-100">
                                                <a href="#" class=" w-100 title-course " data-toggle="dropdown">
                                                    <span class="course-title ">
                                                        <ion-icon name="chevron-down-outline"></ion-icon>
                                                        @item.NameChapter
                                                    </span>
                                                   
                                                    <b class="caret"></b>
                                                </a>
                                                <ul class="dropdown-menu ">
                                                    @foreach (var child in Model.lstCourseLesson.Where(m => m.ChapterId == item.Id))
                                                    {
                                                        <li class="my-dropdown-menu">
                                                            <a href="#" class="title-course">
                                                                <span class="course-title">
                                                                    <ion-icon name="play-circle-outline"></ion-icon>
                                                                    @child.Name
                                                                </span>
                                                                
                                                                <b class="caret"></b>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row info-courses mt-5 p-2">
                    <div class="col-12 Lecturer-information mb-3">
                        <div class="lecturer-img d-float">
                            <img src="@Model.ImageTeacher" alt="@Model.FullName">
                        </div>
                        <div class="lecturer-info-content d-float ">
                            <p><small>Giáo viên</small></p>
                            <a href="/User/Teacher/@Model.UserId" class="name-author">
                                <h5>@Model.FullName</h5>
                            </a>
                            <div class="star-courses cleafix text-left">
                                @*<span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>*@
                            </div>
                        </div>

                    </div>
                    <div class="col-12 detail_title">

                    </div>

                </div>
            </div>
            <div class="col-12 col-md-3   price-cart " id="price-cart ">
                <div class="price-img ">
                    <img src="@Model.Image" class="img-responsive" alt="img">
                </div>
                @if (!Model.IsFree)
                {
                    <div class="price detail-price p-3">
                        <span href="#" class="real">@Model.Price </span>
                        <span href="#" class="fake"><small> <del> @Model.PromotionPrice </del></small></span>
                    </div>
                    <div class="btn w-100">
                        @if (!Model.HasBuy)
                        {
                            @*<button class="btn btn-danger w-100 mb-2">Add to cart</button>*@
                        <a asp-action="BuyNow" asp-controller="Home" asp-route-listIdCourse="@Model.IdCourse.ToString()" id="buynow" class="btn btn-outline-danger w-100 ">Mua ngay</a>
                        }
                        else
                        {
                        <a asp-action="View" asp-controller="Home" asp-route-id="@Model.IdCourse" class="btn btn-outline-danger w-100 ">Tham gia</a>
                        }
                    </div>
                }
                else
                {
                    <div class="price detail-price p-3">
                        <span class="real">@Model.Price </span>
                        <span class="fake"><small> <del> @Model.PromotionPrice </del></small></span>
                    </div>
                    <div class="btn w-100">
                        <a href="/Home/View/@Model.IdCourse" class="btn btn-success w-100">Miễn phí</a>
                    </div>
                }
                <div class="detail-courses p-3">
                    <p>
                        <ion-icon name="car-outline" class="icon-cart"></ion-icon>
                        <span>
                            Miễn phí
                        </span>
                    </p>
                    <p>
                        <ion-icon name="reload-outline" class="icon-cart"></ion-icon>
                        <span>
                            Hoàn tiền lại
                        </span>
                    </p>
                    <p>
                        <ion-icon name="desktop-outline" class="icon-cart">

                        </ion-icon>
                        <span>
                            Học trên máy tính
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
