@model DetailHomeVM
@{
    Layout = "~/Views/Shared/_LayoutView.cshtml";
}
<section>
    <div class="container-fluid">
        <div class="row bg-dark  mb-3 p-3 text-white">
            <div class="col-2 text-white">
                <a asp-action="Index" asp-controller="Home" text-white> &crarr; Trở về trang chủ</a>
            </div>
            <div class="col-8 text-white">
                @Model.Name
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-md-12 col-lg-9 col-12 col-sm-12">
                    <div class="video w-100">
                        <video class="w-100" onkeypress="" oncontextmenu="return false;" controlsList="nodownload" controls="controls" id="videoLesson" autoplay="autoplay">
                            @*<source src="@Url.Action("Get", "Videos", new { filename=Model.lstCourseLesson[0].VideoPath})" type="video/mp4">*@
                            @*<source src="@Url.Content(Model.lstCourseLesson[0].VideoPath)" type="video/mp4">*@
                            @Html.AntiForgeryToken()
                            <source src="@Url.Action("GetMedia","Home",new {path= Model.lstCourseLesson[0].VideoPath })" type="video/mp4">
                        </video>
                    </div>
                    <h3 class="col-12 p-2">Đặt câu hỏi</h3>
                    <div class="row info-courses mr-0 ml-1 mb-3" id="tblcomment">

                        <input type="hidden" id="idlesson" value="@Model.lstCourseLesson[0].Id" />
                        @if (Model.lstComment.Count > 0)
                        {
                            @foreach (var item in Model.lstComment)
                            {
                                <div class="container comment">
                                    <img src="@item.ImageUrl" alt="Avatar" style="width:90px">
                                    <p><span>@item.FullName</span> </p>
                                    <p>@item.Content</p>
                                </div>
                            }
                        }
                        @*<div class="container comment">
                                <img src="~/img/c1.jpg" alt="Avatar" style="width:90px">
                                <p><span>Rebecca Flex.</span> CEO at Company.</p>
                                <p>No one is better than John Doe.</p>
                            </div>*@

                    </div>
                    <div class="container ">
                        <textarea class="form-control" cols="20" rows="5" id="comment"></textarea>
                        @*<textarea class="form-control" style="display:none;height:0px;" id="comment"></textarea>*@
                        <button class="btn btn-danger m-2" id="sendComment">Gửi</button>
                    </div>
                </div>
                <div class="col-lg-3 col-12 col-md-12 pr-0 pl-0">
                    <div class="navbar p-0 clearfix navbar-default navbar-fixed-top w-100" role="navigation">
                        <div class="container p-0">
                            <div class="navbar-header">
                                <h3 class="col-12">Nội dung khóa học</h3>
                            </div>
                            <div class="collapse navbar-collapse d-block">
                                <ul class="nav navbar-nav w-100" id="menu-course">
                                    @foreach (var item in Model.lstChapter)
                                    {
                                        <li class="w-100">
                                            <a href="#" class=" w-100 title-course " data-toggle="dropdown">
                                                <span class="course-title ">
                                                    <ion-icon name="chevron-down-outline"></ion-icon>
                                                    @item.NameChapter
                                                </span>
                                              
                                                <b class="caret"></b>
                                            </a>
                                            <ul class="dropdown-menu ">
                                                @foreach (var child in Model.lstCourseLesson.Where(m => m.ChapterId == item.Id))
                                                {
                                                    <li class="my-dropdown-menu">
                                                        <a href="#" class="title-course" id="lesson" data-id-lesson="@child.Id" data-src-lesson="@child.VideoPath">
                                                            <span class="course-title">
                                                                <ion-icon name="play-circle-outline"></ion-icon>
                                                                @child.Name
                                                            </span>
                                                       
                                                            <b class="caret"></b>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
@*<script src="~/lib/ckeditor/ckeditor/ckeditor.js"></script>
<script>
    CKEDITOR.replace("comment");
</script>*@
@section Scripts{
    <script id="listcomment" type="text/x-jquery-tmpl">
        <input type="hidden" id="idlesson" value="{{IdLesson}}" />
        <div class="container comment">
            <img src="{{ImageUrl}}" alt="Avatar" style="width:90px">
            <p><span>{{FullName}}</span> </p>
            <p>{{Content}}</p>
        </div>
    </script>
    <script>
        $(function () {
            function loadComment(idlesson) {
                $.ajax({
                    url: "/LessonComment/LoadComment",
                    type: "GET",
                    dataType: "JSON",
                    data: {
                        idlesson: idlesson
                    },
                    async: true,
                    success: function (res) {
                        var data = res.data;
                        var html = '';
                        var template = $('#listcomment').html();
                        $('#tblcomment').html('');
                        if (res.status) {
                            var data = res.data;
                            $.each(data, function (i, item) {
                                html += Mustache.render(template, {
                                    IdLesson: item.lessonId,
                                    FullName: item.fullName,
                                    ImageUrl: item.imageUrl,
                                    Content: item.content,
                                });
                            });
                            $('#tblcomment').html(html);
                        }
                    }
                });
            }
            $('body').on('click', '#lesson', function () {
                var _self = $(this);
                var srcVideo = "/Home/GetMedia?path=" + _self.attr('data-src-lesson');
                var videoNode = document.querySelector('video');
                videoNode.src = srcVideo;
                var idlesson = _self.attr('data-id-lesson');
                loadComment(idlesson);
            });
            $('body').on('click', '#sendComment', function () {
                var content = $('#comment').val();
                var idlesson = $('#idlesson').val();
                $.ajax({
                    url: "/LessonComment/Create",
                    type: "POST",
                    dataType: "JSON",
                    async: true,
                    data: {
                        content: content,
                        idlesson: idlesson
                    },
                    success: function (res) {
                        if (res.status) {
                            loadComment(res.idlesson);
                            common.showNotify("Đặt câu hỏi thành công", "success");                         
                        } else {
                            common.showNotify("Xảy ra lỗi", "error");
                        }
                    }
                })
            });
        });
    </script>
}