@model CourseVM
@{
    Layout = "~/Views/Shared/_LayoutDetail.cshtml";
}

<section class="browser  p-0 mb-5 category-box">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 p-0 mb-4">
                <h3 class="h3_title">Top Online Courses</h3>
            </div>
            <div class="col-sm-12 p-0">
            </div>
        </div>
        <div class="row">
            <div class="col-3 w-100    ">
                <div class="box-category   text-dark mb-3">
                    <ul class=" w-100">
                        <li class="">
                            <a class=" active" href="#">Công nghệ thông tin</a>
                        </li>
                        <li class="">
                            <a class="" href="#">Ngôn ngữ lập trình</a>
                        </li>
                        <li class="">
                            <a class=" " href="#">Thiết kế web</a>
                        </li>
                        <li class="">
                            <a class=" " href="#">Cơ sở dữ liệu</a>
                        </li>
                        <li class="">
                            <a class=" " href="#">Bảo mật</a>
                        </li>
                    </ul>
                </div>


                @*<form id="filterPrice" method="get" asp-action="Sort" asp-route-id="@Model.CategoryId">*@
                <input type="hidden" id="idcategoryhidden" value="@Model.CategoryId">
                <div class="box-category   text-dark p-3 mb-3">
                    <label for="exampleFormControlSelect1">Phí khóa học</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radiofree" id="radiofree" value="0" checked="checked">
                        <label class="form-check-label" for="free">
                            Miễn Phí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radiofree" id="radiofree" value="1">
                        <label class="form-check-label" for="nofree">
                            Có Phí
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="radiofree" id="radiofree" value="2">
                        <label class="form-check-label" for="nofree">
                            Không chọn
                        </label>
                    </div>
                </div>

                <div class="box-category   text-dark p-3 mb-3">
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Sắp xếp giá tiền</label>
                        <select name="sortPrice" class="form-control" id="sortPrice">
                            <option value="1">Không chọn</option>
                            <option value="1">Tăng dần</option>
                            <option value="0">Giảm dần</option>
                        </select>
                    </div>
                </div>
                <button class="btn btn-outline-danger w-100" id="idbtnSearch"> Tìm kiếm</button>
                @*</form>*@
            </div>
            <div class="col-9">
                <div class="tab box-category mb-3">
                    <button class="tablinks myTadBtn active" onclick="openCity(event, 'All')">Phổ biến nhất</button>
                    <button class="tablinks myTadBtn" onclick="openCity(event, 'Business')">Mới nhất</button>
                </div>
                <div class="">
                    <div id="All" class="tabcontent  active">
                        <div id="addcate" class="row  owl-theme">
                        </div>
                    </div>
                    <div id="Business" class="tabcontent  my-tabcontent ">
                        @*<div class="row  owl-theme">
                                @foreach (var item in Model.lstCourse)
                                {
                                    <div class="col-md-4 col-sm-12  sale_content">
                                        <div class="card mycard">
                                            <img class="card-img-top" src="@item.Image" alt="Card image cap">
                                            <div class="card-body">
                                                <h5 class="card-title">@item.Name</h5>
                                                <a href="#" class="name-author"><small>@item.FullName</small> </a>
                                                <div class="star-courses cleafix text-left">
                                                    <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                    <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                    <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                    <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                    <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                                                </div>
                                                <div class="price">
                                                    <span class="fake"><small> <del> @item.PromotionPrice  </del></small></span>
                                                    <span class="real"> @item.Price </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                }

                            </div>*@

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $('body').on('change', '#sortPrice', function () {
            $('#filterPrice').submit();
        });
        $('body').on('change', '#radiofree', function () {
            $('#filterPrice').submit();
        });
    </script>

    <script id="course-item" type="x-tmpl-mustache">
        <div class="col-md-4 col-sm-12  sale_content">
            <div class="card mycard">
                <img class="card-img-top" src="{{image}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{nameCourse}}</h5>
                    <a href="#" class="name-author"><small>{{nameAuthor}}</small> </a>
                    <div class="star-courses cleafix text-left">
                        <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                        <span class="mr-1"><i class="fa fa-star" aria-hidden="true"></i></span>
                    </div>
                    <div class="price">
                        <span class="fake"><small> <del>  {{PromotionPrice}}  </del></small></span>
                        <span class="real"> {{Price}} </span>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script src="~/js/controllers/CategotyToCourseController.js"></script>
}